html,
body {
  height: 100%;
  margin: 0 auto;
}

html {
  font-family: "Amiko", "Archivo", sans-serif;
  text-align: center;
  font-size: calc(0.75em + 0.65vw);
}

button,
input {
  font-size: inherit;
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

button:disabled {
  opacity: 0.25;
  cursor: default;
}

a {
  text-decoration: none;
}

a.true-disabled {
  opacity: 0.25;
  user-select: none;
  pointer-events: none;
}

.main-content {
  height: 100%;
}

.primary-choice {
  height: 40%;
}

.secondary-choice {
  height: 60%;
}

.primary-choice {
  background-color: bisque;
}

.secondary-choice {
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/163064/play-stone-network-networked-interactive-163064.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.primary-btn-div {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: palegoldenrod;
}

.btn {
  padding: 10px;
  margin: 10px;
}

.secondary-btn-div {
  min-height: 90%;
  overflow: auto;
  width: 98%;
  display: flex;
  justify-content: center;
  background-color: aliceblue;
}

.dropbtn {
  background-color: cadetblue;
  color: white;
  padding: 16px;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: cornflowerblue;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: aliceblue;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {
  background-color: snow;
  cursor: pointer;
}

.show {
  display: block;
}
